
 <h1>Hi, <%=current_user.name%>!</h1>
 <ul>
    Mood: <%=current_user.mood%>
    Height: <%=current_user.height%>
    Tickets: <%=current_user.tickets%>
    
</ul>
<%=link_to "See attractions", attractions_path %>

